* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    line-height: 1.6;
    color: #333;
}

.home * {
    z-index: 10;
}

.home {
    background: url(./Images/fundo.jpg) no-repeat center center / cover;
    height: 100vh;
    color: #fff;
    position: relative;
    padding-top: 0.938rem;
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.home .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 1.25rem;
    line-height: 1.8;
}

.home .content h1 {
    font-size: 6.25rem;
    font-weight: 600;
    padding-bottom: 1.25rem;
}

.home .content p {
    font-size: 1.375rem;
}

.navbar.top {
    background: transparent;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #333;
    color: #fff;
    height: 4.375rem;
    width: 100%;
    padding: 1.25rem 0.625rem;
    position: fixed;
    top: 0;
    transition: 0.9s;
    z-index: 15;
}

.navbar .logo {
    font-size: 1.5rem;
    padding: 0.938rem;
    order: 2;
    transform: translateX(-50%);
}

.navbar nav {
    order: 1;
}

.navbar a {
    color: #fff;
    padding: 0.625rem 0.938rem;
}

.navbar .social {
    order: 3;
    margin-right: 1.25rem;
}

.socials a {
    font-size: 1.25rem;
    color: #fff;
    padding: 0.5rem 0.625rem;
}

.navbar ul {
    display: flex;
}

ul {
    list-style: none;
}

.main-container {
    margin: 0 auto;
    max-width: 1200px;
}

.home .content .btn {
    margin-top: 1.25rem;
}

.btn-primary {
    background: #3cce96 !important;
    color: #fff;
}

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 15px 30px;
    border-radius: 2px;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.4s ease-in-out;
}

.icons {
    padding: 1.25rem;
}

.icons i {
    font-size: 2.5rem;
    color: #14af74;
    padding-bottom: 1rem;
}

.text-primary {
    color: #3cce96;
}

.flex-items {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    height: 100%;
    font-weight: 500;
}

.flex-items > div {
    padding: 20px;
}

.flex-columns .row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
}

.flex-columns .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin-bottom: 16px;
}

.flex-columns img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.flex-columns .column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 30px 30px;
    font-weight: 500;
}

.flex-columns h4 {
    padding-bottom: 10px;
}

.flex-columns .btn {
    margin-top: 10px;
}

.flex-grid {
    padding: 20px 5px;
}

.flex-grid .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 4px;
}

.flex-grid .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.text-secondary {
    color: #14a36c;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.secondary-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px 40px;
}

.secondary-header h4 {
    padding-bottom: 15px;
}

.secondary-header h2 {
    font-size: 50px;
}

.descriptions .descriptionsList {
    display: flex;
    flex-direction: row;
    padding: 0 1.25rem;
    font-weight: 500;
}

.descriptions .descriptionsList > div {
    display: flex;
    flex-direction: column;
    padding: 0 1.25rem;
}

.descriptions .descriptionsList img {
    border-radius: 0.188rem;
}

.descriptions .descriptionsList .list {
    padding: 0.938rem 0 1.875rem 0;
}

.descriptions .descriptionsList h3 {
    padding-top: 1.25rem;
    font-weight: 500;
    font-size: 1.313rem;
}

.descriptions .descriptionsList ul {
    list-style: disc;
    padding: 0 1.125rem;
    font-size: 1.063rem;
}

.descriptions .descriptionsList .list ul li {
    padding: 0.313rem 0;
}

.contact h2 {
    font-weight: 500;
    padding-top: 0.625rem 0;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.contact .form-group {
    padding-bottom: 1.25rem;
    width: 100%;
}

.form-group label {
    display: none;
}

.contact input {
    width: 100%;
    padding: 0.625rem;
    border: 0.063rem solid #ddd;
}

.contact .btn {
    padding: 0.75rem;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2, h3 {
    padding-bottom: 0.625rem;
    line-height: 1.3;
    font-weight: 100;
}

.bg-dark {
    background: #333;
    color: #fff;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.875rem;
}


@media (max-width: 31.25rem) {
    .home .content {
        line-height: 1.6;
    }

    .descriptions .descriptionsList {
        padding: 0.625rem 1.875rem;
    }

    .home .content p {
        font-size: 1.188rem;
    }
}

@media (max-width: 37.5rem) {
    .navbar {
        flex-direction: column;
        height: 6.875rem;
    }

    .navbar .logo {
        padding: 0 1.25rem 0.938rem;
    }
}

@media (max-width: 48rem) {
    .flex-items {
        flex-direction: column;
    }

    section.flex-columns .column {
        flex: 100%;
        max-width: 100%;
    }

    section.flex-grid .column {
        flex: 50%;
        max-width: 50%;
    }

    .descriptions .descriptionsList {
        flex-direction: column;
        padding: 0.313rem 6.25rem;
    }
}

@media (max-width: 56.25rem) {
    .navbar .logo {
        order: 1;
        padding: 0.938rem 0;
        transform: none;
    }

    .home .content p {
        font-size: 1.25rem;
    }

    .navbar nav {
        order: 3;
    }

    .navbar .social {
        display: none;
        order: 2;
    }

    .home .content h1 {
        font-size: 4.688rem;
    }
}

@media (max-width: 480px) {
    .flex-columns .column-2 {
        padding: 10px;
    }

    .flex-columns h2 {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .flex-columns {
        display: block;
        text-align: center;
        padding: 10px;
    }

    .flex-columns h4 {
        font-size: 18px;
    }

    .flex-columns .column {
        flex-basis: 100%;
    }

    .flex-columns .column-1, .flex-columns .column-2 {
        align-items: center;
        justify-content: center;
    }

    .flex-columns h2 {
        font-size: 28px;
    }
}
